/* Mobile first queries */
/* applies to ALL widths */

h1 {
  font-size: 2rem;
  text-align: center;
  width: 95%;
  margin: auto;
  word-wrap: break-word;
  border: 5px solid black;
}

h2 {
  font-size: 1.875rem;
  width: 95%;
  margin: auto;
  word-wrap: break-word;
  border: 5px solid orange;
}

h3 {
  font-size: 1.5rem;
  width: 25%;
  float: left;
  margin: auto;
  word-wrap: break-word;
  border: 5px solid green;
}

h4 {
  font-size: 1.25rem;
  width: 65%;
  float: left;
  margin: auto;
  word-wrap: break-word;
  border: 5px solid blue;
}

#image0 {
  float: center;
  padding-top: 10px;
  width: 50%;
  height: auto;
  object-fit:contain;
  border: 5px solid green;
}
#image1 {
  float: center;
  padding-top: 10px;
  width: 50%;
  height: auto;
  border: 5px solid yellow;
}
#image2 {
  float: center;
  padding-top: 10px;
  width: 50%;
  height: auto;
  border: 5px solid red;
}
.images {
  margin :0 auto;
  display:inline-block;
  width: 95%;
  max-width: 100%;
  height: auto;
  margin: auto;
  border: 5px solid blue;
}

.res_space {
  display:inline-block;
  width: 95%;
  height: auto;
  margin: auto;
  border: 5px solid purple;
}

hr, footer {
  color: rgb(255, 209, 143);
}

.title {
	color: black;
}

.computers, .food, .noise, .lighting, .rating, .submit, .reset, .seats {
	margin-left:20px;
}

#next {
	margin-left:20px;
	visibility: visible;
}

#submit, #reset {
	margin-left:20px;
	visibility: hidden;
}

/* Larger than mobile */
/* applies to all widths 400px and greater */
@media (min-width: 400px) {
  .logo {
    position: static;
    background-color: transparent;
    font-size: 2rem;
    line-height: 1;
  }
  .nav .button {
    width: auto;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    background-color: aqua;
    font-size: 4.2rem;
  }
}

/* Larger than tablet */
/* applies to all widths 750px and greater */
@media (min-width: 750px) {
  .logo {
    font-size: 3rem;
    position: relative;
    top: 5px;
  }
}