.track {
font-family: Comic Sans MS, arial, sans-serif;
color: #0000CC;
text-shadow: 0 0 .7em #0000AA;
}
.album {
text-indent:2em;
}
.quote {
text-align:left;
border: 5px solid #003333;
}
.faves{
font-family: Apple Chancery, cursive;
color: #3300AA;
}
#groupname {
text-shadow: 0 0 .7em #0000AA;
color:blue;
}
hgroup {
text-align:center;
color:#0000AA;
font-family: Snell Roundhand, sans-serif;

}
blockquote {
border: 1px solid;
padding: 10px;
color:ivory;
background-color:#000099;
font-family: Apple Chancery, cursive;
}
.album:first-letter{
text-shadow: 0 0 .7em #0000AA;
color:blue;
font-size:200%;
}
.album{
text-shadow: 0 0 .7em #0000AA;
color:blue;
font-family: Snell Roundhand, sans-serif;

}